input_data_path: "data/raw/heart.csv"
output_model_path: "results/models/rf_model.pkl"
metrics_path: "results/scores/rf_metrics.json"
preds_path: "results/preds/rf_preds.csv"
split_params:
  val_size: 0.2
  random_state: 3
preprocess_params:
  drop_nan: False
  drop_duplicates: True
features_params:
  categorical_features:
    - "sex"
    - "cp"
    - "restecg"
    - "exang"
    - "slope"
    - "ca"
    - "thal"
    - "fbs"
  numerical_features:
    - "age"
    - "trestbps"
    - "chol"
    - "thalach"
    - "oldpeak"
  target_col: "target"